/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    /* background: url('/assets//img/backgr.jpg'); */
    height: 100vh;
    background-size: cover;
}

a {
    color: #ef6603;
    text-decoration: none;
}

a:hover {
    color: #fc8129;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ef6603;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #fc7c1f;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(42, 44, 57, 0.9);
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    background: rgba(42, 44, 57, 0.9);
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 7px 15px;
    margin-left: 5px;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 50px;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    background: #ef6603;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 5px;
    top: calc(100% + 30px);
    margin: 5px 0 0 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    border-radius: 15px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #2a2c39;
    margin: 0 5px;
    font-size: 14px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #fff;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(20, 21, 28, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    color: #2a2c39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #fff;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #fff;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}


/*--------------------------------------------------------------
# Grid - chart
--------------------------------------------------------------*/

.grid-container {
    padding-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 var(--dashboard-margin);
    padding: 10px;
    gap: 20px;
}

.grid-container .box-info-chart {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(42, 44, 57, 0.08);
}

.grid-container .box-info-chart h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.grid-container .box-info-chart ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.grid-container .box-info-chart ul li+li {
    margin-top: 10px;
}

.grid-container .box-info-chart .col-xl-4 {
    padding-left: 10px;
}


/* list data */

.grid-container .box-data {
    padding: 2px;
    box-shadow: 0px 0 30px rgba(42, 44, 57, 0.08);
}

.grid-container .box-data h3 {
    font-size: 22px;
    font-weight: 700;
    padding: 30px 30px 20px 30px;
    border-bottom: 1px solid #eee;
}

.grid-container .box_datafile {
    height: 85%;
    overflow-y: scroll;
    padding: 0px;
}

.dashboard-cards {
    padding-bottom: 20px;
}


/* chart */

.card {
    width: 100%;
    background-color: var(--second-bg-color);
}

.chart-canvas {
    margin: 20px;
    position: relative;
    height: 500px;
}

.chart-options {
    position: absolute;
    right: 30px;
    top: 14px;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    margin-top: 70px;
    background: #f7f8f9;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

@media (max-width: 992px) {
    .breadcrumbs ol {
        margin-top: 10px;
    }
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #404356;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #14151c;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ef6603;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #bd5102;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}


/* =====================
=======Register/Login=========
===================== */

.input {
    height: 42px;
    padding: 8px 10px;
    width: 100%;
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
    color: #595959;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.btn {
    width: 150px;
    padding: 7px 18px;
    color: #fff;
    background-color: #3f3f3f;
    border: 1px solid;
    border-radius: 5px;
}

.btn-upload {
    width: 150px;
    padding: 7px 18px;
    color: #fff;
    background-color: #43b343;
    border: 1px solid;
    border-radius: 5px;
}

.btn-save {
    width: 150px;
    padding: 7px 18px;
    color: #fff;
    background-color: #5782f8;
    border: 1px solid;
    border-radius: 5px;
}

.error {
    color: #f5222d;
    font-size: 12px;
}

.form-success {
    color: #52c41a;
    margin: 20px 0px;
    text-align: center;
    font-size: 12px;
}

.form-error {
    margin: 20px 0px;
    color: #f5222d;
    text-align: center;
    font-size: 12px;
}

.register-login-container {
    width: 100%;
    min-width: 400px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background: url('/assets//img/backgr.jpg') no-repeat center center;
    background-size: cover;
}

.register-login-container .form-wrapper {
    width: 500px;
    min-width: 400px;
    height: 100%;
    padding: 70px 50px;
    background-color: #ffffff;
}

.register-login-container .form-wrapper .logo {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.form-wrapper .input-wrapper {
    margin-bottom: 30px;
}

.register-login-container .form-wrapper .logo span {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #6e6e6e;
    padding-top: 50px;
}

.register-login-container .form-wrapper .form-container .name-wrapper {
    display: flex;
    justify-content: space-between;
}

.register-login-container .form-wrapper .form-container .name-wrapper .input-wrapper {
    width: 48%;
}

.register-login-container .form-wrapper .form-container .register-footer {
    display: flex;
    justify-content: space-between;
}

.register-login-container .form-wrapper .form-container .register-footer #already-have-account {
    cursor: pointer;
}

.register-login-container .form-wrapper .form-container .login-footer {
    display: flex;
    justify-content: space-between;
}

.register-login-container .form-wrapper .form-container .login-footer #already-have-account {
    cursor: pointer;
}


/* =====================
=======Login=========
===================== */